.home {
   height: 100vh;
   overflow-y: scroll;
   background-image: url("/image/homebackground.png");
   background-size: contain;
   background-repeat: repeat;
   // padding: 0 18rem;
   background-color: #fdf5eb;
}

.dropdown_nav {
   // width: 100%;
}
